.recipe-details-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: auto;
}


.recipe-info {
  flex: 1;
  font-family: Arial, sans-serif;
  color: #333;
}

.recipe-info h1 {
  font-size: 2rem;
  color: #d35400;
}

.recipe-info h3 {
  margin-top: 20px;
  font-size: 2rem;
  color: #d35400;
}

.recipe-info ul,
.recipe-info ol {
  padding-left: 20px;
  font-size: 20px;
  line-height: 1.6;
}

.recipe-image-sticky {
  flex: 0 0 55%;
  top: 20px;
}

.recipe-image-sticky img {
  width: 85%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 4px solid;
}
.recipe-details-container .details {
  display: flex;
  gap: 30px;
}
.recipe-details-container .details .price p {
  font-weight: bold;
  font-size: 30px;
}
.recipe-details-container .recipe-info .details > p {
  line-height: 2.8;
  font-size: 20px;
}
.recipe-details-container .button {
  border: 2px solid black;
  background-color: black;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .75rem 1.5rem;
  font-weight: 400;
  transition: all .35s;
  display: flex;
}
.recipe-details-container .button:hover {
  color: black;
  background-color: #0000;
}
@media (max-width:991px) {
  .recipe-details-container {
    flex-direction: column;
  }
}